<div class="github-card user-card">
  <div class="header"></div>
  <a href="{{user.html_url}}" target="_blank" class="avatar">
    <img [src]="user.avatar_url+'&s=80'" [alt]="user.name">
  </a>
  <div class="content">
  
    <span></span> 
    
   
    
    <ul class="status">
      <li>
        <a [href]="'https://github.com/'+user.login+'?tab=repositories'">
          <strong>{{user.id}}</strong>
          <i class="fab fa-github"></i>ID
        </a>
      </li>
      <li>
        <a href="{{user.html_url}}">
          <strong>{{user.name}}</strong>
          <i class="fas fa-book-open"></i>name
        </a>
      </li>
      <li>
        <a [href]="'https://github.com/'+user.login+'/followers'">
          <strong>{{user.created_at | date}}</strong>
          <i class="fas fa-users"></i>
          creation date
        </a>
      </li>
    </ul>
  </div>
</div>